main {
    display: flex;
    justify-content: center
}

#formElements {
    width: 50%;
    display: flex;
    flex-direction: column;
}
#form {
    display: flex;
    flex-direction: column;
}

input {
    height: 4vw;
    font-size: 1.5vw;
    width: 100%;
}

textarea {
    height: 15vw;
    font-size: 2vw;
    width: 100%;
}

button {
    font-size: 4vw;
}

.inputItem {
    margin: 2vw;
}
